<%= provide :title, @user.full_name %>
<div class="row">
  <aside class="col-md-12">
    <section class="user-info">
      <%= render "shared/user_info", user: @user %>
    </section>
    <div class="divider"></div>
  </aside>
</div>
