<h3>
  <%= image_tag "avatar.png", alt: user.user_name, class: "avatar" %>
  <ul class="user-view">
    <li><%= user.full_name %></li>
    <li><span><%= link_to t(".view_profile"), user %></span></li>
    <li><span><%= pluralize user.posts.count, t(".post") %></span></li>
  </ul>
</h3>
